:root {
    --tm-primary-400: #52796f;
    /* Deep Teal */
    --tm-primary-500: #42635a;
    /* Hover/Active shade */

    --tm-secondary-400: #84a98c;
    /* Muted Teal */
    --tm-secondary-500: #6b8c73;
    /* Hover/Active shade */

    --tm-tertiary-400: #cad2c5;
    /* Ash Grey */
    --tm-tertiary-500: #b0b8ab;
    /* Hover/Active shade */

    --tm-text-700: #354f52;
    /* Dark Slate Grey (normal text) */
    --tm-text-900: #2f3e46;
    /* Charcoal Blue (Títulos) */
    --tm-bg-light: #f4f6f5;
    /* Light backgournd */

    /* Bootstrap */
    --bs-body-color: var(--tm-text-700);
    --bs-body-bg: var(--tm-bg-light);
    --bs-border-radius: 0.5rem;
}